<footer class="footer py-4 px-sa">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h5>anthony li <span class="font-weight-normal">debate</span></h5>
        <p>Made by <a href="https://anli.dev">anli5005.</a></p>
        <p>Pick a theme: <select id="interface-theme-select" class="form-control-sm d-inline-block">
          <option default>Default</option>
          <option value="light">Light</option>
          <option value="dark">Dark</option>
        </select></p>
        <p class="text-white-50">&copy; 2019 Anthony Li</p>
      </div>
    </div>
  </div>
</footer>
