<a class="fancy-link" href="{{include.href}}" {% if include.target %}target="{{include.target}}"{% endif %} {% if include.bg %}style="background-color: {{include.bg}}"{% endif %}>
  <h5 class="m-0" {% if include.color %}style="color: {{include.color}}"{% endif %}>{{include.title}}</h5>
  {% if include.description %}<p {% if include.color %}style="color: {{include.color}}"{% endif %}>{{include.description}}</p>{% endif %}
  <p {% if include.color %}style="color: {{include.color}}; opacity: 0.5"{% else %}class="text-secondary"{% endif %}>{{include.domain}} <i class="fas fa-arrow-right"></i></p>
</a>
